html, body {
    font-family: 'Open Sans', sans-serif;
    font-family: "微软雅黑 Light";
    font-size: 100%;
    background: #fff;
}

body a, .grid_1, i.icon1, i.icon2, i.icon3, i.icon4, i.icon5, i.icon6 {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}

input[type="button"], input[type="submit"], .port-grid, .text p, .text h3 {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

/*-- header start--*/
/*-- sticky-nav start--*/
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    left: 0;
}

/*-- sticky-nav ends --*/
.top-menu ul {
    padding: 0;
}

.top-menu ul li {
    display: inline-block;
    list-style: none;
    margin: 0 4px;
}

.top-menu ul li a {
    color: #fff;
    font-size: 1em;
    padding: 15px 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border-top: 1px solid rgba(39, 40, 40, 0.09);
    background: rgba(47, 48, 48, 0);
}

.top-menu ul li a.active, .top-menu ul li a:hover {
    color: #ff1791;
    border-top: 1px solid #ff1791;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    background-color: rgba(39, 40, 40, 0.74);
}

.top-menu {
    float: right;
    margin-top: 1em;
}

.header {
    padding-bottom: 20px;
    z-index: 999;
    background-color: rgba(39, 40, 40, 0.74);
}

nav.navigation a {
    display: block;
    margin: 0px 0px;
    padding: 0;
    text-decoration: none;
}

nav.navigation a:hover,
nav.navigation a:focus {
    outline: none;
}

/*-- header ends--*/

/*----banner start--------*/
.banner{
    margin-top: 96px;
    height: 850px;
}

.section{
    height: 850px;
}

/*----banner ends--------*/

/*----trainers start----*/
.trainers-section {
    margin-top:-95px;
    background-image: url("/images/trainer-background.jpg");
    background-repeat: no-repeat;
    height: 850px;
}

.trainers-section .container .trainers {
    margin: 300px 0px;
}

.trainers-section .container div.trainer-description {
    float: left;
    display: inline;
}

.trainers-section .container div.trainer-second {
    float: right;
    display: inline;
}

.trainers-section .container div.trainer-first {
    text-align: center;
}

/*----trainers ends----*/

/*----classes start----*/
.clases-section {
    background: rgba(0, 0, 0, 0.14);
    padding: 4em 0;
    margin-top: -125px;
}
.class-grids {
    margin-top: 4em;
}
.clases-section h3 {
    font-size: 2.0em;
    font-weight: 400;
    color: #ff5742;
    text-align:center;
    font-family: 微软雅黑;
}
.class-text h5 {
    font-size: 4em;
    font-weight: 700;
    float: right;
}
.class-grid {
    margin-bottom: 0.5em;
    padding: 0 4px;
}
.bottom-color{
    background-color:rgba(44, 47, 47, 1);
    padding: 1em;
    text-align: center;
}
.bottom-color h4 {
    color:#fff;
    font-size:1.4em;
    font-family: 'Orbitron', sans-serif;
}
.bottom-color p {
    color: #ED4AA0;
    font-size: 1em;
    margin:0.5em 0;
}
ul.time li{
    display:block;
    list-style:none;
    margin-bottom:0.5em;
}
ul.time li span {
    color: #362f2f;
    font-size: 1em;
    text-align: left;
}
ul.time {
    text-align: left;
}
.class-text {
    float: right;
}
.single-one {
    float: left;
    width: 50%;
}
.single-one span i {
    background: url(../images/img_spt.png)no-repeat -47px -109px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin:0px 5px;
}
.single-one span i.com {
    background: url(../images/img_spt.png)no-repeat -204px -12px;
}
.single-one span i.four {
    background: url(../images/img_spt.png)no-repeat -278px -12px;
}
ul.time li  i.sun,ul.time li  i.time{
    background: url(../images/img_spt.png)no-repeat -55px -10px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
}
ul.time li  i.time{
    background: url(../images/img_spt.png)no-repeat -21px -10px;
}
.class-bottom {
    background: #fff;
    padding: 2em;
}
.single-one span a:hover {
    color: #ED4AA0;
}
a.button {
    display: block;
    margin-left: 29em;
}
/*----classes ends----*/

/*----training-section start----*/
.training-section {
    background: rgba(0, 0, 0, 0.11);
    padding: 25px 0;
    margin-top: -90px;
}
.class-grids {
    margin-top: 4em;
}
.training-section h3 {
    font-size: 2.0em;
    font-weight: 400;
    color: #ff5742;
    text-align:center;
    font-family: 微软雅黑;
    color: #ff5742;
    text-align:center;
    font-family: 微软雅黑;
}
.class-text h5 {
    font-size: 4em;
    font-weight: 700;
    float: right;
}
.class-grid {
    margin-bottom: 0.5em;
    padding: 0 4px;
}
.bottom-color{
    background-color:rgba(44, 47, 47, 1);
    padding: 1em;
    text-align: center;
}
.bottom-color h4 {
    color:#fff;
    font-size:1.4em;
    font-family: 'Orbitron', sans-serif;
}
.bottom-color p {
    color: #ED4AA0;
    font-size: 1em;
    margin:0.5em 0;
}
ul.time li{
    display:block;
    list-style:none;
    margin-bottom:0.5em;
}
ul.time li span {
    color: #362f2f;
    font-size: 1em;
    text-align: left;
}
ul.time {
    text-align: left;
}
.class-text {
    float: right;
}
.single-one {
    float: left;
    width: 50%;
}
.single-one span i {
    background: url(../images/img_spt.png)no-repeat -47px -109px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin:0px 5px;
}
.single-one span i.com {
    background: url(../images/img_spt.png)no-repeat -204px -12px;
}
.single-one span i.four {
    background: url(../images/img_spt.png)no-repeat -278px -12px;
}
ul.time li  i.sun,ul.time li  i.time{
    background: url(../images/img_spt.png)no-repeat -55px -10px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
}
ul.time li  i.time{
    background: url(../images/img_spt.png)no-repeat -21px -10px;
}
.class-bottom {
    background: #fff;
    padding: 2em;
}
.single-one span a:hover {
    color: #ED4AA0;
}
a.button {
    display: block;
    margin-left: 29em;
}
/*----classes ends----*/


/*----footer start-------*/
.footer {
    padding: 2.2em 0 0.5em 0em;
    background-color: rgba(44, 47, 47, 1);
}

.footer .contact {
    margin-top: 65px;
}

.footer .top-line div hr,
.footer .bottom-line div hr {
    background-color: #E53641;
    height: 1px;
}

.footer .top-line div hr {
    width: 80%;
}

.footer .bottom-line div hr {
    margin-top: 65px;
    width: 100%;
}

.footer .middle-line {
    text-align: center;
}

.footer .middle-line span {
    color: white;
    font-size: 16px;
}

.copy {

}

.copy p {
    color: #fff;
    font-size: 0.8em;
    text-align: center;
}

.copy p a {
    color: #ff1791;
}

.copy p a:hover {
    text-decoration: underline;
}

/*----footer ends -------*/

/**
* @author: shixing
* @since : 1.0.0
* @function:back to top
*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 19px;
    right: 45px;
    overflow: hidden;
    width: 40px;
    height: 22px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

.clearfix {
    clear: both;
}